.copyright {
  width: 100%;

  border-top: 1px solid rgba(98, 105, 98, 0.2);
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  padding-top: 0;
  padding-bottom: 0;
}

.copyright__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  &--left {
    width: 32.43%;
  }

  &--right {
    width: 58%;
  }
}

.copyright__text {
  padding: 14px 0;
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: $dark-grey;
  opacity: 0.5;
}

.copyright__link {
  text-decoration: none;

  cursor: pointer;
}

.copyright__link:hover .copyright__text,
.copyright__link:focus .copyright__text {
  color: $blue;

  opacity: 1;
  transition-duration: 0.3s;
}

.copyright__link:active .copyright__text {
  color: #000000;

  transition-duration: 0.3s;
}

@media (max-width: $tablet-width) {
  .copyright__text {
    &--hidden {
      padding: 0;
      font-size: 0;
    }
    &--top {
      position: absolute;
      top: 22px;
      left: 42.3%;
    }
  }
  .copyright__container {
    &--left {
      width: 0;
      height: 0;
      padding: 0;
    }
    &--right {
      width: 100%;
      padding: 7px 27px;
    }
  }
}

@media (max-width: $mobile-width) {
  .copyright__container--right {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    padding-top: 28px;
  }

  .copyright__text--top {
    top: 110px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .copyright__container--right .copyright__text {
    padding: 0;
    margin-bottom: 20px;
  }
}
