.feedback {
  width: 100%;

  color: $white;
  background-color: $blue;
  background-image: url("../img/feedback-bg.png");
  background-repeat: no-repeat;
  background-position: 92% 68%;

  background-size: 90%;
}

.feedback__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  max-width: 1250px;
  padding: 93px 40px 73px;
}

.feedback__container {
  position: relative;

  width: 570px;
}

.feedback__container::before {
  position: absolute;
  z-index: 1;
  right: 120%;
  top: 13%;

  width: 511px;
  height: 288px;

  background-image: url("../img/airplane@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  content: "";
}

.feedback__container form {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.feedback__title {
  padding: 0;
  margin: 0 0 8px;

  font-family: $roboto-condensed;
  font-size: 36px;
  line-height: 50.63px;
  font-weight: 400;
}

.feedback__text {
  padding: 0;
  margin: 0 0 49px;

  font-family: $pt-mono;
  font-size: 16px;
  line-height: 21.5px;
}

.feedback__field {
  width: 270px;
  margin-bottom: 40px;
}

.feedback__field--question {
  width: 100%;
}

.feedback__field input,
.feedback__field textarea {
  width: 100%;
  padding: 14px 16.41px;

  color: $white;

  border: 2px solid transparent;
  background-color: #19baff;
}

.feedback__field textarea {
  min-height: 154px;
}

.feedback__field input::placeholder,
.feedback__field textarea::placeholder {
  color: $white;
}

.feedback__field input:hover,
.feedback__field textarea:hover,
.feedback__field input:focus,
.feedback__field textarea:focus {
  border-color: $white;
  transition-duration: 0.3s;

  outline: none;
}

.feedback__field input:focus::placeholder,
.feedback__field textarea:focus::placeholder {
  color: transparent;

  transition-duration: 0.3s;
}

.feedback__field button {
  width: 100%;
  padding: 14px 18px;

  font-family: $pt-mono;
  font-size: 14px;
  line-height: 16.41px;
  text-transform: uppercase;

  color: $white;

  background-color: $blue;
  border: 1px solid $white;
  border-radius: 5px;

  cursor: pointer;
}

.feedback__field button:hover,
.feedback__field button:focus {
  font-weight: 700;
  color: $blue;

  background-color: $white;
  border-color: $white;
  transition-duration: 0.3s;
}

.feedback__field button:active {
  opacity: 0.5;
  transition-duration: 0.3s;
}

.feedback__field--consent input {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback__field--consent label {
  position: relative;

  display: inline-block;

  width: 100%;
  padding-left: 32px;
  margin-top: 8px;
  margin-left: 7px;

  font-size: 14px;
  line-height: 15.68px;
  color: rgba(255, 255, 255, 0.8);
  vertical-align: middle;

  cursor: pointer;
}

.feedback__field--consent label::before {
  position: absolute;
  left: 0;
  top: 0;

  width: 16px;
  height: 16px;

  background-color: transparent;
  border: 1px solid $white;
  content: "";
}

.feedback__field--consent label::after {
  position: absolute;
  left: 5px;
  top: 4px;

  display: none;

  width: 7.5px;
  height: 4.5px;

  background-color: transparent;
  border-top: 1px solid $white;
  border-right: 1px solid $white;
  transform: rotate(135deg);

  content: "";
}

.feedback__field--consent input:checked ~ label::after {
  display: block;
}

.feedback__field--consent label:hover,
.feedback__field--consent label:focus {
  font-weight: bold;
  color: $white;
  text-decoration: underline;

  transition-duration: 0.3s;

  outline: none;
}

.feedback__field--consent label:active {
  opacity: 0.5;
  transition-duration: 0.3s;
}

.feedback__popup {
  position: fixed;
  z-index: 4;
  top: 135px;
  left: 50%;

  display: none;

  width: 490px;
  padding: 33px 39px 7px;

  background-color: $blue;
  transform: translateX(-245px);
}

.feedback__title--popup {
  margin-bottom: 12px;

  color: $white;

  font-size: 28px;
  line-height: 39.4px;
}

.feedback__text--popup {
  padding-right: 10px;
  margin-bottom: 32px;

  color: $white;
}

.feedback__field--popup {
  width: 100%;
  margin-bottom: 30px;
}

.feedback__field--popup textarea {
  min-height: 104px;
}

.feedback__field--btn.feedback__field--popup {
  margin-bottom: 27px;
}

.feedback__field--consent.feedback__field--popup {
  margin-top: 0;
  padding-left: 11px;
  padding-right: 10px;
}

.feedback__field--consent.feedback__field--popup label::before {
  top: -1px;
  left: -18px;
}

.feedback__field--consent.feedback__field--popup label::after {
  top: 2px;
  left: -13px;
}

.feedback__close {
  position: absolute;
  top: 36px;
  right: 27px;

  width: 17px;
  height: 17px;

  background-color: transparent;
  border: none;
}

.feedback__close:hover,
.feedback__close:focus {
  outline: none;
}

.feedback__close svg {
  width: 27px;
  height: 27px;
  padding: 5px;

  fill: $white;
  border: 1px solid transparent;
}

.feedback__close:hover svg,
.feedback__close:focus svg {
  border-color: $white;
  transition-duration: 0.3s;
}

.feedback__close:active svg {
  fill: $dark-grey;
  border-color: $dark-grey;
  opacity: 0.5;
  transition-duration: 0.3s;
}

.feedback__popup--open {
  display: block;
}

@media (max-width: $tablet-width) {
  .feedback {
    background-image: none;
  }

  .feedback__wrapper {
    justify-content: center;

    padding: 83px 40px 65px;
  }

  .feedback__container {
    width: 595px;
  }

  .feedback__container::before {
    display: none;
  }

  .feedback__title {
    margin: 0 0 14px;

    font-size: 32px;
    line-height: 45px;
  }

  .feedback__text {
    padding-left: 7px;
    margin-bottom: 54px;
  }

  .feedback__field {
    width: 283px;
    &--question {
      width: 100%;
    }
  }

  .feedback__field textarea {
    min-height: 160px;
  }

  .feedback__field--consent label {
    margin-top: 11px;
    margin-left: 10px;
  }
}

@media (max-width: $mobile-width) {
  .feedback__wrapper {
    padding: 30px 16px 12px;
  }

  .feedback__container {
    min-width: 100%;
  }

  .feedback__title {
    margin: 0 0 14px;

    font-size: 28px;
    line-height: 39.38px;
  }

  .feedback__text {
    padding-left: 0;
    margin-bottom: 26px;
  }

  .feedback__field {
    width: 100%;
    margin-bottom: 32px;

    &--question {
      margin-bottom: 23px;
    }

    &--btn {
      margin-bottom: 23px;
    }
  }

  .feedback__field textarea {
    min-height: 105px;
  }

  .feedback__field--consent label {
    margin-top: 8px;
    margin-left: 0;
  }
}
