.intro {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  max-width: 1461px;
  min-width: 1024px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.intro__title {
  width: 52%;
  margin: 0 0 26px 0;
  padding: 0;

  font-family: $roboto-condensed;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 5.5px;
  font-weight: 700;
  text-transform: uppercase;
}

.intro__text {
  position: relative;

  width: 51%;
  padding: 0 0 0 94px;
  margin: 0 0 41px 0;

  font-size: 22px;
  line-height: 34px;
  text-transform: lowercase;
}

.intro__text::before {
  position: absolute;
  left: 0;
  top: 15px;

  width: 66px;
  height: 2px;
  background-color: $white;

  content: "";
}

.intro__btn {
  padding: 18px 45px;
  margin-left: 98px;

  font-family: $roboto-condensed;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.8px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;

  background-color: $blue;
  border-radius: 5px;
  text-decoration: none;
}

.intro__btn:hover,
.intro__btn:focus {
  color: $blue;

  background-color: $white;
  transition-duration: 0.5s;
}

.intro__btn-short {
  display: none;
}

.intro img {
  position: absolute;
  top: -201px;
  right: -52px;

  width: 49%;
}

.intro__scroll {
  margin: 133px 0 0 -37px;

  font-family: $pt-mono;
  font-size: 14px;
  line-height: 15.7px;
  color: $white;
  text-decoration: none;

  opacity: 0.5;
  transform: rotate(-90deg);
}

.intro__scroll:hover,
.intro__scroll:focus {
  opacity: 1;
}

.intro__scroll:active {
  opacity: 0.2;
}

@media (max-width: $tablet-width) {
  .intro {
    min-width: 320px;
    max-width: 1023px;
    width: 100%;
    padding: 20px 88px 0;
  }

  .intro__title {
    margin-bottom: 29px;

    font-size: 60px;
    line-height: 70.3px;
    letter-spacing: 4px;
  }

  .intro__text {
    width: 70%;
    padding-left: 52px;
    margin-bottom: 53px;

    font-size: 18px;
    line-height: 28.22px;
  }

  .intro__text::before {
    top: 14px;
    left: 3px;
    width: 33px;
  }

  .intro__btn {
    padding-left: 32px;
    padding-right: 32px;
    margin-left: 50px;

    font-size: 16px;
    line-height: 18.75px;
  }

  .intro img {
    position: absolute;
    top: -201px;
    right: -208px;

    width: 70%;
  }

  .intro__scroll {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .intro {
    padding-left: 15px;
    padding-right: 15px;
  }

  .intro__title {
    z-index: 1;

    width: 100%;
    margin-bottom: 28px;

    font-size: 40px;
    line-height: 46.88px;
    letter-spacing: 2.5px;
  }

  .intro__text {
    width: 100%;
    margin-bottom: 39px;

    font-size: 16px;
    line-height: 25.09px;
  }

  .intro__btn {
    margin-left: 3px;
  }

  .intro__btn-long {
    display: none;
  }

  .intro__btn-short {
    display: block;
  }

  .intro img {
    top: -311px;
    right: -332px;

    width: 625px;
    height: auto;
  }
}
