.page-footer {
  width: 100%;

  background-color: #fafafa;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 1458px;
  padding: 65px 20px 55px;
}

.page-footer__logo {
  width: 216px;
  margin-bottom: 48px;
}

.page-footer__nav {
  width: 46.5%;
}

.page-footer__contacts {
  width: 23.5%;
}

.page-footer__title {
  padding: 0;
  margin: 0 0 25px 0;

  font-family: $roboto-condensed;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $dark-grey;
}

.page-footer__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.page-footer__list-column {
  margin: 0;
  padding: 0;
}

.page-footer__list-column:nth-child(odd) {
  margin-right: 9.5%;
}

.page-footer__column-item {
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__item {
  min-width: 243px;
  padding: 0;
  margin: 0;
}

.page-footer__link {
  width: 100%;

  font-size: 15px;
  line-height: 25px;
  color: $dark-grey;
  text-decoration: none;

  opacity: 0.5;
}

.page-footer__text {
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 25px;
  color: $dark-grey;

  opacity: 0.5;
}

.page-footer__link:hover,
.page-footer__link:focus {
  color: $blue;

  opacity: 1;
  transition-duration: 0.3s;
}

.page-footer__link:active {
  color: #000000;

  transition-duration: 0.3s;
}

@media (max-width: $tablet-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__wrapper {
    padding: 0;
  }

  .page-footer__logo {
    margin-bottom: 0;
  }

  .page-footer__nav {
    width: 49%;
  }

  .page-footer__contacts {
    width: 51%;
  }

  .page-footer__title {
    padding: 38px 25px 0;
  }

  .page-footer__list {
    flex-direction: column;
    flex-wrap: nowrap;

    padding: 0 25px 36px;
  }

  .page-footer__list-column:nth-child(odd) {
    margin-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .page-footer__logo {
    margin-bottom: 76px;
  }

  .page-footer__nav {
    width: 100%;
  }

  .page-footer__contacts {
    width: 100%;
  }

  .page-footer__title {
    position: relative;

    padding: 28px 15px;
    margin-bottom: 0;

    border-top: 1px solid rgba(98, 105, 98, 0.2);
  }

  .page-footer__title::after {
    position: absolute;
    top: 35.5px;
    right: 17px;

    width: 16px;
    height: 1px;

    background-color: #c4c4c4;

    content: "";
  }

  .page-footer__dropdown-close .page-footer__title::before {
    position: absolute;
    top: 29px;
    right: 24.5px;

    width: 1px;
    height: 16px;

    background-color: #c4c4c4;

    content: "";
  }

  .page-footer__dropdown-close .page-footer__list {
    display: none;
  }

  .page-footer__list {
    width: 85%;
    padding: 3px 15px 26px;
  }
}
