html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $pt-mono;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: $grey;

  background-color: $white;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  min-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;

  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: $tablet-width) {
  .page-container {
    min-width: 320px;
    max-width: 1023px;
    margin: 0;
  }
}

@media (max-width: $mobile-width) {
  .page-container {
    max-width: 767px;
  }
}
