@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-condensed-v18-cyrillic-ext-regular.woff2") format("woff2");
  src: url("../fonts/roboto-condensed-v18-cyrillic-ext-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-condensed-v18-cyrillic-ext-700.woff2") format("woff2");
  src: url("../fonts/roboto-condensed-v18-cyrillic-ext-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-v20-cyrillic-ext_latin-500.woff2") format("woff2");
  src: url("../fonts/roboto-v20-cyrillic-ext_latin-500.woff") format("woff");
}

@font-face {
  font-family: "PT Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/pt-mono-v7-cyrillic-ext-regular.woff2") format("woff2");
  src: url("../fonts/pt-mono-v7-cyrillic-ext-regular.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $pt-mono;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: $grey;

  background-color: $light-grey;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
