$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;
$pt-mono: "PT Mono", "Arial", sans-serif;

$light-grey: #E5E5E5;
$grey: #666666;
$dark-grey: ##1B2D37;
$blue: #00B2FF;
$white: #FFFFFF;
